.prizes {
    background-color: var(--primary-color);
    margin: 20px 0px;
    padding: 10px;
}

.prizes>div {
    margin: 10px;
    width: 70%;
    justify-self: center;
}

.prizes img {
    border-radius: 10px;
}
