.prizes {
    background-color: var(--primary-color);
    margin: 20px 0px;
    padding: 10px;
    width: 100vw;
}

.prizes>div {
    margin: 10px;
    width: 70%;
    justify-self: center;
}

.prizes img {
    border-radius: 10px;
}

.prizes h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 3em;
}