.prizes {
    background-color: var(--primary-color);
    margin: 20px 0px;
    padding: 10px;
    width: 100vw;
}

.prizes>div {
    margin: 10px;
    width: 70%;
    justify-self: center;
}

.prizes img {
    border-radius: 10px;
}

.p-carousel-prev {
    background-color: white;
}
.p-carousel-next {
    background-color: white;
}



.p-carousel-indicator > button {
    background-color: gray;
}

.p-highlight > button {
    background-color: white;
}