.products > div {
    margin: 10px;
    width: 70%;
    justify-self: center;
}

.products img {
    border-radius: 10px;
}

.products h1 {
    text-align: center;
    color: deepskyblue;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 3em;
}