.promocode-table {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
}

.promocode-table-wrapper{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
}

.reg-promo-panel {
    display: grid;
    grid-template-columns: 1fr auto;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    width: 100%;
}

td {
    border: 1px solid rgb(160 160 160);
    padding: 10px 10px;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin: 0 0 10px 5px;
    color: var(--primary-color);
    font-weight: bold;
}