h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 3em;
}

.ConditionsSection {
    width: 100vw;
    background-color: var(--primary-color);
    padding: 1em 1em 2em;
    position: absolute;
    left: 0;
    right: 0;
}
.ConditionsSection img {
    border-radius: 4px  4px 0 0;
}

.card {
    border: 7px solid white;
}

.inputGradient {
    height: 3em;
    background-color: red;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
}