.login-button {
    margin: 5px 0;
    display: flex;
    width: 100%;
}

.p-dialog-content {
    padding-bottom: 10px;
}

input {
    width: 100%;
}

.error-help {
    min-height: 15px;
    color: red;
    margin: 0 2%;
    font-size: 14px;
    line-height: 35px;
}

.link-button {
    margin-top: 10px;
    width: 100%;
    padding: 2px 15px;
    font-weight: 300;
    justify-self: center;
}