.profile-buttons .p-button {
    font-size: 16px;
    padding: 8px 14px;
}

.profile-buttons .p-button-icon {
    margin-right: 8px;
}

.header-label {
    font-weight: 600;
    color: var(--primary-color);
}
