.header-border {
    margin: 5px;
    border-radius: 5px;
    border-color: darkorange;
    border-width: 2px;
    padding: 5px;
}

    .header-border > h2 {
        text-align: center;
    }


.header-promo {
    background: linear-gradient(to right, #7eb97e 50%, white 50%);
}