@import "tailwindcss";
:root {
  font-family: "Rubik", serif;
  font-weight: 400;
  line-height: 1.3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}